<!--Navbar-->
<nav>
<div>
    <a href="">New List</a>
    <a href="">Friends</a>
    <a href="">Logout</a>       
</div>
</nav>

<!--Options Container-->
<div>
    <a href="">My Lists</a>
    <a href="">Friends Lists</a>
</div>

<!--Content Container-->
<div>

</div>

<!--Comment Container-->
<div>

</div>